# Introduction: for and while loops
---
The **for** statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any object (such as strings, arrays, lists, tuples, dict and so on) 
in a for loop in Python.

The **while** loop tells the computer to do something as long as a condition is met. 
A while loop consists of a block of code and a condition. The condition 
is evaluated, and if the condition is true, the code within the
block is executed. This repeats until the condition becomes false. 

[for and while loops](http://www.pythonforbeginners.com/control-flow-2/python-for-and-while-loops)
[for and while loops](http://www.cyberciti.biz/faq/python-for-loop-examples-statements/)

# While Loops
---
```python
truth_test = True
while truth_test:
    print('hello')
```
This is an example of a **while** loop. While loops continue to run until the expression after `while` evaluates to `False`. In the example above, the loop will continue to run ad infinitum because we never change `truth_test` be `False` in our block.

Now it's time for some practice. We'll create a `while` loop in conjunction with the `input` function to create the following program:
![](http://snag.gy/WsiZu.jpg)

In [1]:
name = input("What is your name? ")

What is your name? max

In [2]:
name

'max'

'max'

In [3]:
snake_bite_you = 'No'

while snake_bite_you == 'No':
    snake_bite_you = input('Did the snake bite you? ').capitalize()
    print('Poke with stick')

print('Go to the Hospital')

Did the snake bite you? no
Poke with stick
Poke with stick
Did the snake bite you? no
Poke with stick
Poke with stick
Did the snake bite you? yes
Poke with stick
Go to the Hospital
Poke with stick
Go to the Hospital

In [4]:
truth_test = True
while truth_test:
    print('hello')
    truth_test = False

hello
hello

Remember, a while loop runs until the expression is `False`. The problem is, sometimes they don't stop. To avoid this, here are some rules to follow:

1. Make sure that you use while loops sparingly. Usually a for loop is better.
2. Review your while statements and make sure that the boolean test will become False at some point.
3. When in doubt, print out your test variable at the top and bottom of the while-loop to see what it's doing.

# For Loops
---
```python
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
```

This is a **for** loop. It has the heading starting with **for**, followed by a 
variable name (count in this case), the word **in**, some sequence, and a final colon. 
As with function definitions and other heading lines, the **colon** at the end of 
the line indicates that a consistently **indented block** of statements follows 
to complete the for loop.

In [6]:
'Yes' * 2

'YesYes'

'YesYes'

In [7]:
for i in [1, 2, 3]: 
    print(i) 
    print('Yes' * i)
    print('')

1
Yes

2
YesYes

3
YesYesYes

1
Yes

2
YesYes

3
YesYesYes

In [8]:
for _ in range(10):
    print(_)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [9]:
3 + 5

8

8

In [10]:
_

9

9

In [11]:
10 + 11

21

21

In [12]:
_

9

9

Let's try a simple repeat **for** loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 100 times.

In [13]:
for _ in range(100):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [14]:
word = "computer"
for letter in word:
    if letter in 'aeiou':
        print('huzzah')
    print(letter)

c
huzzah
o
m
p
huzzah
u
t
huzzah
e
r
c
huzzah
o
m
p
huzzah
u
t
huzzah
e
r

In [15]:
dna = 'AGCTCGTCT'
rna = []

for nucleotide in dna:
    if nucleotide == 'T':
        rna.append('U')
    else:
        rna.append(nucleotide)
rna

['A', 'G', 'C', 'U', 'C', 'G', 'U', 'C', 'U']

['A', 'G', 'C', 'U', 'C', 'G', 'U', 'C', 'U']

## Looping through dictionaries

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

In [16]:
food = {
    'k&k': ['yue'],
    'sushi': ['kristi', 'dunya'],
    'home': ['ken', 'garry', 'audrey', 'manjeet'],
    'manish': ['max'],
    'a&w': ['ian']
}

In [17]:
food.values()

dict_values([['yue'], ['kristi', 'dunya'], ['ken', 'garry', 'audrey', 'manjeet'], ['max'], ['ian']])

dict_values([['yue'], ['kristi', 'dunya'], ['ken', 'garry', 'audrey', 'manjeet'], ['max'], ['ian']])

In [18]:
places  = list(food.keys())

In [19]:
names = list(food.values())

In [20]:
place, name = ('k&k', ['yue'])
print(place)
print(name)

k&k
['yue']
k&k
['yue']

In [21]:
list(food.items())

[('k&k', ['yue']),
 ('sushi', ['kristi', 'dunya']),
 ('home', ['ken', 'garry', 'audrey', 'manjeet']),
 ('manish', ['max']),
 ('a&w', ['ian'])]

[('k&k', ['yue']),
 ('sushi', ['kristi', 'dunya']),
 ('home', ['ken', 'garry', 'audrey', 'manjeet']),
 ('manish', ['max']),
 ('a&w', ['ian'])]

In [22]:
for place, place_type in [('a&w', 'burger'), ('k&k', 'vege'), ('home', 'IDK')]:
    print(place)
    print('\n')
    print(place_type)
    print('\n')

a&w


burger


k&k


vege


home


IDK


a&w


burger


k&k


vege


home


IDK

In [23]:
('a&w', 'burger')

('a&w', 'burger')

('a&w', 'burger')

In [24]:
names = []
places = []

for key, value in food.items():
    places.append(key)
    names.extend(value)

In [25]:
'manjeet' in names

True

True

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

# Mapping
---
Mapping is when you have a list, but you need to make changes to the items in that list. In python, we'll use list comprehension to do this.

To illustrate mapping, let's create an array of strings for each person in the classroom: 'student' and 'teacher'. Your code should look something like this:

```python
classroom = ['student', 'student', 'teacher', 'student', ...]
```

In [27]:
tv = [
    'chef\'s table', 
    'arrested development', 
    'the good place',
    'sense 8',
    'the wire',
    'seinfeld',
    'westworld',
    'this is us',
    'the big bang theory'
]

In [28]:
tv_show = 'this is us'

In [29]:
def starts_with_the(tv_show):
    return tv_show.startswith('the')

In [30]:
the = []
for show in tv:
    if starts_with_the(show):
        the.append(show)
the

['the good place', 'the wire', 'the big bang theory']

['the good place', 'the wire', 'the big bang theory']

In [31]:
[show for show in tv if starts_with_the(show)]

['the good place', 'the wire', 'the big bang theory']

['the good place', 'the wire', 'the big bang theory']

In [32]:
numbers = [1, 2, 3, 4]

In [33]:
even = []
for number in numbers:
    if number % 2 == 0:
        print(number)

even

2
4
2
4

[]

[]

In [34]:
[number * 3 for number in numbers]

[3, 6, 9, 12]

[3, 6, 9, 12]

In machine learning, we'll need to convert strings into numbers. Let's create a function that accepts a string. Return 1 if the string is 'student' and 0 if the string is 'teacher'.

In [35]:
def is_student(person):
    if person == 'student':
        return 1
    else:
        return 0

In [36]:
is_student('teacher')

0

0

In [38]:
classroom = ['student', 'student', 'teacher']

In [39]:
new_classroom = [is_student(student) for student in classroom]

Now let's use list comprehension along with our function to convert our array of strings into an array of 1's and 0's.

In [40]:
new_classroom

[1, 1, 0]

[1, 1, 0]

## Mapping practice: odds and evens

1. Create an array of integers, 1 through 100
2. Create a function that accepts a single integer as a parameter and returns `'odd'` or `'even'`, depending on the input.
3. Use list comprehension to map through your array of integers and retun an array of odd/even strings

In [41]:
# create an array of integers: 1-100
numbers = list(range(1, 101))

In [42]:
# create a function that accepts a single integer, and returns the string 'odd' or 'even', depending on the integer
def odd_or_even(number):
    if number % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [43]:
odd_or_even(3)

'odd'

'odd'

In [44]:
# use list comprehension to convert your array of integers to an array of odd/even strings
o_e = [odd_or_even(num) for num in numbers]

## Mapping practice: square the numbers

1. Create an array of integers, 1 through 10
2. Use list comprehension to create an array that squares each number in the original array

In [45]:
# create an array of integers: 1-10
numbers = list(range(1, 11))

In [46]:
# map through the array, squaring each number in the original array. Output should look like below.
[num ** 2 for num in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping practice: lowercase names

1. Create a list of everyone's names in the classroom
2. Use list comprehension to return an array of lowercase names

In [47]:
[show.capitalize() for show in tv]

["Chef's table",
 'Arrested development',
 'The good place',
 'Sense 8',
 'The wire',
 'Seinfeld',
 'Westworld',
 'This is us',
 'The big bang theory']

["Chef's table",
 'Arrested development',
 'The good place',
 'Sense 8',
 'The wire',
 'Seinfeld',
 'Westworld',
 'This is us',
 'The big bang theory']

In [48]:
show = 'The big bang theory'

def title_case(show):
    show_parts = show.split(' ')
    show = ''
    for part in show_parts:
        show += part.capitalize()
        show += ' '
    return show.strip()
    
title_case('The big bang theory')

'The Big Bang Theory'

'The Big Bang Theory'

In [49]:
[title_case(show) for show in tv if starts_with_the(show)]

['The Good Place', 'The Wire', 'The Big Bang Theory']

['The Good Place', 'The Wire', 'The Big Bang Theory']

In [50]:
titles = []
for show in tv:
    if starts_with_the(show):
        titles.append(title_case(show))
titles

['The Good Place', 'The Wire', 'The Big Bang Theory']

['The Good Place', 'The Wire', 'The Big Bang Theory']

In [51]:
instuctors = ['Max', 'Albert', 'Alyx', 'Shawn', 'Dan']

[person.lower() for person in instuctors]

['max', 'albert', 'alyx', 'shawn', 'dan']

['max', 'albert', 'alyx', 'shawn', 'dan']

# Filtering
---

If you have a list of items, but only need a subset of items that meet a certain condition, that's called filtering. 

To illustrate this, let's create a list of dictionaries, one for each person in the classroom. It should look like the following:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    ...
]
```

In [52]:
classroom = [
    {'name': 'Max', 'role': 'teacher'},
    {'name': 'Ian', 'role': 'student'},
    {'name': 'Ken', 'role': 'student'},
    {'name': 'Dunya', 'role': 'student'},
    {'name': 'Garry', 'role': 'student'}
]

In [53]:
classroom

[{'name': 'Max', 'role': 'teacher'},
 {'name': 'Ian', 'role': 'student'},
 {'name': 'Ken', 'role': 'student'},
 {'name': 'Dunya', 'role': 'student'},
 {'name': 'Garry', 'role': 'student'}]

[{'name': 'Max', 'role': 'teacher'},
 {'name': 'Ian', 'role': 'student'},
 {'name': 'Ken', 'role': 'student'},
 {'name': 'Dunya', 'role': 'student'},
 {'name': 'Garry', 'role': 'student'}]

In [54]:
[person['name'] for person in classroom if person['role'] == 'student']

['Ian', 'Ken', 'Dunya', 'Garry']

['Ian', 'Ken', 'Dunya', 'Garry']

In [55]:
[person['name'] for person in classroom if person['role'] == 'student']

['Ian', 'Ken', 'Dunya', 'Garry']

['Ian', 'Ken', 'Dunya', 'Garry']

# Mapping Dictionaries
---

Mapping is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': 'YOURGRANDMOTHER@AOL.COM'
}
```

As a precaution, we might want to downcase all the email addresses before saving them to a database. In the block below, map through the `users` dictionary and return the same dictionary, but with all the emails downcased.

In [56]:
users = {
    'user1': 'IAN@GMAIL.COM',
    'user2': 'KRISTI@YAHOO.COM',
    'user3': 'GARRY@COGECO.COM',
    'user4': 'max@GmAIl.com',
    'user5': 'fluffy_bunnies_2003@hotmail.com'
}

In [57]:
list(users.items())

[('user1', 'IAN@GMAIL.COM'),
 ('user2', 'KRISTI@YAHOO.COM'),
 ('user3', 'GARRY@COGECO.COM'),
 ('user4', 'max@GmAIl.com'),
 ('user5', 'fluffy_bunnies_2003@hotmail.com')]

[('user1', 'IAN@GMAIL.COM'),
 ('user2', 'KRISTI@YAHOO.COM'),
 ('user3', 'GARRY@COGECO.COM'),
 ('user4', 'max@GmAIl.com'),
 ('user5', 'fluffy_bunnies_2003@hotmail.com')]

In [58]:
[email.lower() 
     for email in users.values() 
     if 'gmail' in email.lower()
]

['ian@gmail.com', 'max@gmail.com']

['ian@gmail.com', 'max@gmail.com']

In [59]:
'max@GMAIL.com'.lower()

'max@gmail.com'

'max@gmail.com'

In [60]:
['ian@gmail.com', 'max@gmail.com']

['ian@gmail.com', 'max@gmail.com']

['ian@gmail.com', 'max@gmail.com']