# Introduction: for and while loops
---
The **for** statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any object (such as strings, arrays, lists, tuples, dict and so on) 
in a for loop in Python.

The **while** loop tells the computer to do something as long as a condition is met. 
A while loop consists of a block of code and a condition. The condition 
is evaluated, and if the condition is true, the code within the
block is executed. This repeats until the condition becomes false. 

[for and while loops](http://www.pythonforbeginners.com/control-flow-2/python-for-and-while-loops)
[for and while loops](http://www.cyberciti.biz/faq/python-for-loop-examples-statements/)

# While Loops
---
```python
truth_test = True
while truth_test:
    print('hello')
```
This is an example of a **while** loop. While loops continue to run until the expression after `while` evaluates to `False`. In the example above, the loop will continue to run ad infinitum because we never change `truth_test` be `False` in our block.

Now it's time for some practice. We'll create a `while` loop in conjunction with the `input` function to create the following program:
![](http://snag.gy/WsiZu.jpg)

In [1]:
name = input("What is your name? ")

What is your name? Max

In [2]:
name

'Max'

In [121]:
import random

def should_i_check_facebook():
    if random.randint(1, 100) <= 10:
        print(1)
    else:
        print(0)

facebook = should_i_check_facebook()
facebook

0

In [129]:
facebook

In [101]:
max_is_still_interesting = True

while max_is_still_interesting == True:
    print('learning...')
    if should_i_check_facebook() == 1:
        print('Facebook Time')
        break

learning...
learning...
learning...
learning...
learning...
learning...
learning...
learning...
learning...
Facebook Time

In [ ]:
truth_test = True
while truth_test:
    print('hello')
    truth_test = False

Remember, a while loop runs until the expression is `False`. The problem is, sometimes they don't stop. To avoid this, here are some rules to follow:

1. Make sure that you use while loops sparingly. Usually a for loop is better.
2. Review your while statements and make sure that the boolean test will become False at some point.
3. When in doubt, print out your test variable at the top and bottom of the while-loop to see what it's doing.

# For Loops
---
```python
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
```

This is a **for** loop. It has the heading starting with **for**, followed by a 
variable name (count in this case), the word **in**, some sequence, and a final colon. 
As with function definitions and other heading lines, the **colon** at the end of 
the line indicates that a consistently **indented block** of statements follows 
to complete the for loop.

In [136]:
for i in ['my', 'list', 'of', 'strings']:
    print(i, type(i))

my <class 'str'>
list <class 'str'>
of <class 'str'>
strings <class 'str'>

In [ ]:
'Yes' * 2

In [ ]:
for i in [1, 2, 3]: 
    print(i) 
    print('Yes' * i)
    print('')

In [ ]:
for _ in range(10):
    print(_)

In [ ]:
3 + 5

In [ ]:
_

In [ ]:
10 + 11

In [ ]:
_

Let's try a simple repeat **for** loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 100 times.

In [ ]:
for _ in range(100):
    print('hello')

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [139]:
word = "computer"
for letter in word:
    if letter in 'aeiou':
        print('huzzah')
    else:
        print(letter)

c
huzzah
m
p
huzzah
t
huzzah
r

In [141]:
sentence = 'this is a silly little sentence that doesn\'t make much sense'

def capitalize_if_max(letter):
    if letter in 'max':
        print(letter.upper())
    else:
        print(letter)
    
for letter in sentence:
    capitalize_if_max(letter)

    
# for letter in sentence:
#     if letter in 'max':
#         print(letter.upper())
#     else:
#         print(letter)

t
h
i
s

i
s

A

s
i
l
l
y

l
i
t
t
l
e

s
e
n
t
e
n
c
e

t
h
A
t

d
o
e
s
n
'
t

M
A
k
e

M
u
c
h

s
e
n
s
e

In [ ]:
dna = 'AGCTCGTCT'
rna = []

for nucleotide in dna:
    if nucleotide == 'T':
        rna.append('U')
    else:
        rna.append(nucleotide)
rna

## Looping through dictionaries

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

In [142]:
food = {
    'cultures': ['megan', 'blair'],
    'home': ['zekry', 'sara', 'cody'],
    'pizza': ['mousa'],
    'greek': ['max'],
    'freshii': ['vishal'],
    'thai': ['lucas']
}

In [147]:
list(food.values())

[['megan', 'blair'],
 ['zekry', 'sara', 'cody'],
 ['mousa'],
 ['max'],
 ['vishal'],
 ['lucas']]

In [151]:
for item in list(food.items()):
    print(item)
    print('\n')

('cultures', ['megan', 'blair'])


('home', ['zekry', 'sara', 'cody'])


('pizza', ['mousa'])


('greek', ['max'])


('freshii', ['vishal'])


('thai', ['lucas'])

In [159]:
gender = {'male': 1, 'female': 2}
gender

{'male': 1, 'female': 2}

In [160]:
gender

{'male': 1, 'female': 2}

In [162]:
list(gender.items())

[('male', 1), ('female', 2)]

In [157]:
inverse_gender = {}
for k, v in gender.items():
    inverse_gender[v] = k

In [168]:
inverse_gender['🍔'] = '3'

In [169]:
inverse_gender

{1: 'male', 2: 'female', '❌': 'x', '🍔': '3'}

In [163]:
recreate_gender = {}
for k, v in gender.items():
    print(k)
    print(v)
    recreate_gender[k] = v

male
1
female
2

In [164]:
recreate_gender

{'male': 1, 'female': 2}

In [158]:
inverse_gender

{1: 'male', 2: 'female'}

In [153]:
for k, v in food.items():
    if k == 'freshii':
        print(v, 'need to reconsider their life choices')
    else:
        print(v, 'ate', k)

['megan', 'blair'] ate cultures
['zekry', 'sara', 'cody'] ate home
['mousa'] ate pizza
['max'] ate greek
['vishal'] need to reconsider their life choices
['lucas'] ate thai

In [ ]:
places  = list(food.keys())

In [ ]:
names = list(food.values())

In [ ]:
place, name = ('k&k', ['yue'])
print(place)
print(name)

In [ ]:
list(food.items())

In [ ]:
for place, place_type in [('a&w', 'burger'), ('k&k', 'vege'), ('home', 'IDK')]:
    print(place)
    print('\n')
    print(place_type)
    print('\n')

In [ ]:
('a&w', 'burger')

In [ ]:
names = []
places = []

for key, value in food.items():
    places.append(key)
    names.extend(value)

In [ ]:
'manjeet' in names

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

# Mapping
---
Mapping is when you have a list, but you need to make changes to the items in that list. In python, we'll use list comprehension to do this.

To illustrate mapping, let's create an array of strings for each person in the classroom: 'student' and 'teacher'. Your code should look something like this:

```python
classroom = ['student', 'student', 'teacher', 'student', ...]
```

In [175]:
tv = [
    'sopranos',
    'please like me',
    'how to train your dragon',
    'the office',
    'futurama',
    'money heist',
    'the wire',
    'supernatural',
    'archer',
    'the simpsons'
]

the_tv = []
for show in tv:
    if show.startswith('the'):
        the_tv.append(show)

In [176]:
the_tv

['the office', 'the wire', 'the simpsons']

In [203]:
'the'[0].upper() + 'the'[1:]

'The'

In [212]:
show = 'how to train your dragon'

def title_case(show):
    show_split = show.split(' ')
    new_list = []
    for word in show_split:
        new_list.append(word[0].upper() + word[1:])
    return ' '.join(new_list)

In [213]:
title_case(show)

'How To Train Your Dragon'

In [214]:
title_case_shows = []
for show in tv:
    title_case_shows.append(title_case(show))
title_case_shows

['Sopranos',
 'Please Like Me',
 'How To Train Your Dragon',
 'The Office',
 'Futurama',
 'Money Heist',
 'The Wire',
 'Supernatural',
 'Archer',
 'The Simpsons']

In [220]:
[title_case(show) for show in tv]

['The Office', 'The Wire', 'The Simpsons']

In [174]:
show = 'the simpsons'

True

In [ ]:
tv_show = 'this is us'

In [ ]:
def starts_with_the(tv_show):
    return tv_show.startswith('the')

In [ ]:
the = []
for show in tv:
    if starts_with_the(show):
        the.append(show)
the

In [ ]:
[show for show in tv if starts_with_the(show)]

In [ ]:
numbers = [1, 2, 3, 4]

In [ ]:
even = []
for number in numbers:
    if number % 2 == 0:
        print(number)

even

In [ ]:
[number * 3 for number in numbers]

In machine learning, we'll need to convert strings into numbers. Let's create a function that accepts a string. Return 1 if the string is 'student' and 0 if the string is 'teacher'.

In [ ]:
def is_student(person):
    if person == 'student':
        return 1
    else:
        return 0

In [ ]:
is_student('teacher')

In [ ]:
classroom = ['student', 'student', 'teacher']

In [ ]:
new_classroom = [is_student(student) for student in classroom]

Now let's use list comprehension along with our function to convert our array of strings into an array of 1's and 0's.

In [ ]:
new_classroom

## Mapping practice: odds and evens

1. Create an array of integers, 1 through 100
2. Create a function that accepts a single integer as a parameter and returns `'odd'` or `'even'`, depending on the input.
3. Use list comprehension to map through your array of integers and retun an array of odd/even strings

In [ ]:
# create an array of integers: 1-100
numbers = list(range(1, 101))

In [ ]:
# create a function that accepts a single integer, and returns the string 'odd' or 'even', depending on the integer
def odd_or_even(number):
    if number % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [ ]:
odd_or_even(3)

In [ ]:
# use list comprehension to convert your array of integers to an array of odd/even strings
o_e = [odd_or_even(num) for num in numbers]

## Mapping practice: square the numbers

1. Create an array of integers, 1 through 10
2. Use list comprehension to create an array that squares each number in the original array

In [ ]:
# create an array of integers: 1-10
numbers = list(range(1, 11))

In [ ]:
# map through the array, squaring each number in the original array. Output should look like below.
[num ** 2 for num in numbers]

## Mapping practice: lowercase names

1. Create a list of everyone's names in the classroom
2. Use list comprehension to return an array of lowercase names

In [ ]:
[show.capitalize() for show in tv]

In [ ]:
show = 'The big bang theory'

def title_case(show):
    show_parts = show.split(' ')
    show = ''
    for part in show_parts:
        show += part.capitalize()
        show += ' '
    return show.strip()
    
title_case('The big bang theory')

In [ ]:
[title_case(show) for show in tv if starts_with_the(show)]

In [ ]:
titles = []
for show in tv:
    if starts_with_the(show):
        titles.append(title_case(show))
titles

In [ ]:
instuctors = ['Max', 'Albert', 'Alyx', 'Shawn', 'Dan']

[person.lower() for person in instuctors]

# Filtering
---

If you have a list of items, but only need a subset of items that meet a certain condition, that's called filtering. 

To illustrate this, let's create a list of dictionaries, one for each person in the classroom. It should look like the following:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    ...
]
```

In [221]:
classroom = [
    {'name': 'Max', 'role': 'teacher'},
    {'name': 'Vishal', 'role': 'student'},
    {'name': 'Cody', 'role': 'student'},
    {'name': 'Lucas', 'role': 'student'},
    {'name': 'Megan', 'role': 'student'},
    {'name': 'Zekry', 'role': 'student'},
    {'name': 'Sara', 'role': 'student'},
    {'name': 'Mousa', 'role': 'student'},
    {'name': 'Blair', 'role': 'student'}
]

In [223]:
for person in classroom:
    print(person['name'])

Max
Vishal
Cody
Lucas
Megan
Zekry
Sara
Mousa
Blair

In [226]:
[person['name'] for person in classroom if person['role'] == 'student']

['Vishal', 'Cody', 'Lucas', 'Megan', 'Zekry', 'Sara', 'Mousa', 'Blair']

In [ ]:
classroom

In [ ]:
[person['name'] for person in classroom if person['role'] == 'student']

In [ ]:
[person['name'] for person in classroom if person['role'] == 'student']

# Mapping Dictionaries
---

Mapping is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': 'YOURGRANDMOTHER@AOL.COM'
}
```

As a precaution, we might want to downcase all the email addresses before saving them to a database. In the block below, map through the `users` dictionary and return the same dictionary, but with all the emails downcased.

In [227]:
users = {
    'user1': 'zekry@GMAIL.COM',
    'user2': 'sara@YAHOO.COM',
    'user3': 'mousa@COGECO.COM',
    'user4': 'max@GmAIl.com',
    'user5': 'fluffy_bunnies_2003@hotmail.com'
}

In [232]:
[v.lower() for v in users.values() if 'gmail' in v.lower()]

['zekry@gmail.com', 'max@gmail.com']

In [236]:
emails = []
for email in users.values():
    if 'gmail' in email.lower():
        emails.append(email.lower())

In [238]:
email = 'max@GmAIl.com'

In [243]:
'gmail' in 'max@GmAIl.com'

False

In [240]:
email.lower()

'max@gmail.com'

In [242]:
'gmail' in email.lower()

True

In [ ]:
list(users.items())

In [ ]:
[email.lower() 
     for email in users.values() 
     if 'gmail' in email.lower()
]

In [ ]:
'max@GMAIL.com'.lower()

In [ ]:
['ian@gmail.com', 'max@gmail.com']